@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
body{
   font-family: 'Poppins';
   color: #0a2ff1;
   font-size: 32px;
   text-align:center;
   font-weight: 300;
}

strong{
    font-weight: 700;
}

img{
    width: 10%;
}